.discription strong {
    color: pink;
}

.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    min-width: 250px;
    color: black;
    line-height: 1.5;
    font-size: 14px;
    width: 100%;
    outline: none;
    border-bottom: 0.5px solid black;
    padding: 10px;
    border-top: 0px solid black;
    border-right: 0px;
    border-left: 0px solid #000;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460aa;
    color: #fff;
    border: none;
}

#contact .footer-icons i {
    background: aqua;
    color: black;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

#contact .footer-icons i:hover {
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 162);
}

@media (max-width: 768px) {
    #contact .footer-icons i {
        margin: 5px;
    }
}