      body {
          overflow-x: hidden;
          scroll-behavior: smooth;
      }
      
       ::-webkit-scrollbar {
          width: 1px;
      }
      
      .container {
          min-height: 100vh;
          max-width: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
      }
      
      h1 {
          padding: 10px;
          font-size: 80px;
          text-align: center;
      }
      
      @media(max-width:768px) {
          h1 {
              font-size: 50px;
          }
      }
      
      .payment-card {
          display: flex;
          flex-wrap: wrap;
          max-width: 100%;
          align-items: center;
          justify-content: center;
      }
      
      .card {
          min-height: 50px;
          max-width: 100%;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 10px;
          box-shadow: 1px 2px 1px 1px black;
          text-decoration: none;
          color: white;
          font-weight: 1000;
          border-radius: 20px;
          margin-bottom: 2em;
      }
      
      .card:hover {
          background: #370e48;
      }
      
      .card:nth-child(1) {
          background: rgb(112, 30, 117);
      }
      
      .card:nth-child(1):hover {
          background: rgb(14, 63, 52);
      }
      
      .card:nth-child(2) {
          background: #370e48;
      }
      
      .card:nth-child(2):hover {
          background: rgb(102, 26, 86);
      }
      
      .internship-details {
          min-height: 50px;
          max-width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          line-height: 40px;
          margin-bottom: 2em;
      }
      
      h2 {
          text-transform: uppercase;
          font-size: 40px;
          text-align: center;
      }
      
      .some-details {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
      }
      
      span {
          animation: para 1s infinite;
          padding: 10px;
          color: white;
          border-radius: 10px;
          margin-top: 0em;
          text-align: center;
          margin-bottom: 4em;
      }
      
      @keyframes para {
          from {
              background: #000;
              transform: scale(1.1);
          }
          to {
              transform: scale(1.2);
              background: #541d88;
          }
      }
      
      @media(max-width:768px) {
          @keyframes para {
              from {
                  background: #000;
                  transform: scale(1);
              }
              to {
                  transform: scale(1);
                  background: #541d88;
              }
          }
      }
      
      ruppes {
          font-size: 40px;
      }
      
      .images {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1em;
          flex-wrap: wrap;
      }
      
      .showcase {
          height: 300px;
          width: 300px;
          border-radius: 20px;
          margin-top: 2em;
          margin-left: 10px;
      }
      
      .showcase:nth-child(1) {
          animation: aicte 1s infinite;
          animation-delay: .5s;
          transition: .5s;
      }
      
      .showcase:nth-child(2) {
          animation: discount .5s infinite;
          animation-delay: 1s;
          transition: .5s;
      }
      
      .showcase:nth-child(3) {
          animation: msme .5s infinite;
          animation-delay: 1.5s;
          transition: 1s;
      }
      /* aicte animation  */
      /* @keyframes aicte {
            0% {
                transform: translateY(-20px);
            }
            0% {
                transform: translateY(10px);
            }
        } */
      /* discount image animation  */
      /* msme image animation  */
      /* @keyframes msme {
            0% {
                transform: translateY(-20px);
            }
            0% {
                transform: translateY(10px);
            }
        } */
      
      .details-section {
          min-height: 500px;
          max-width: 100%;
          background: rgba(225, 225, 225, .5);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1em;
          padding: 10px;
          border-radius: 20px;
          margin-top: 3em;
          margin-bottom: 3em;
          border: 5px solid white;
          border-bottom-color: rgb(102, 36, 100);
      }
      
      .line {
          height: 300px;
          width: 2px;
          background: rgb(63, 94, 251);
          background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
      }
      
      @media(max-width:768px) {
          .line {
              height: 2px;
              width: 100%;
          }
      }
      
      .perks {
          margin-bottom: 2em;
      }
      
      ul {
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 10px;
      }
      
      li {
          position: relative;
          right: 2em;
          list-style: none;
          font-weight: 1000;
          padding: 5px 10px;
          border-radius: 20px;
      }
      
      li:nth-child(1) {
          background: #541d88;
          color: white;
      }
      
      li:nth-child(2) {
          background: #881d78;
          color: white;
      }
      
      li:nth-child(3) {
          background: #1d8839;
          color: white;
      }
      
      li:nth-child(4) {
          background: #81881d;
          color: white;
      }
      
      li:nth-child(5) {
          background: #5b2b3e;
          color: white;
      }
      
      .sample {
          height: 300px;
          width: 250px;
      }
      /* .pay-info {
            margin-bottom: 2em;
            padding: 10px;
            border: 2px solid black;
            border-radius: 20px;
        } */
      
       :root {
          --angle: 45deg;
          --opacity: 0.5;
      }
      
      *,
      *::before,
      *::after {
          box-sizing: border-box;
      }
      
      .rainbow {
          max-width: 100%;
          min-height: 100px;
          padding: 2rem;
          margin: auto;
          margin-bottom: 2em;
          display: grid;
          place-content: center;
          text-align: center;
          font-size: 1.5em;
          --border-size: 0.3rem;
          border: 4px solid transparent;
          /* Paint an image in the border */
          border-image: conic-gradient( from var(--angle), #d53e33 0deg 90deg, #fbb300 90deg 180deg, #377af5 180deg 270deg, #399953 270deg 360deg) 1 stretch;
          background: rgb(255 255 255 / var(--opacity));
      }
      /* Animate when Houdini is available */
      
      @supports (background: paint(houdini)) {
          @property --opacity {
              syntax: "<number>";
              initial-value: 0.5;
              inherits: false;
          }
          @property --angle {
              syntax: "<angle>";
              initial-value: 0deg;
              inherits: false;
          }
          @keyframes opacityChange {
              to {
                  --opacity: 1;
              }
          }
          @keyframes rotate {
              to {
                  --angle: 360deg;
              }
          }
          .rainbow {
              animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
              border-radius: 20px;
          }
      }